<%- include("partials/header") -%>

<h1> Home </h1>
<p> <%= home_StartingContent %> </p>

<% post.forEach(function(item) { %>

    <h1> <%= item.title %> </h1>
    <p> <%= (item.content).substr(0,100) + "..."; %> <a href="\post\<%= item.title %>"> Read More </a> </p>

<% }); %> <br> <br>

<div>
  <a class="btn btn-primary" href="\compose">Compose</a>
</div>

<%- include("partials/footer") -%>
